{% extends 'index.html' %}
{% block content %}
<style>
    .mainbody{
        padding-top: 5%;
        text-align: center;
    }
    
</style>
<div class="row mainbody">
    <div class="col container">
        <h1>To Do List</h1>
        <form class="task_form" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Add">
        </form>
        <div class="task_list">
            {% for task in tasks %}
                <p>{{task.task_content}}</p>
            {% endfor %}
        </div>
    </div>
    <div class="col">
    <div>
        <h1>FocusPod</h1>
    </div>
    <div>Timer Controls</div>
    </div>
    <div class="col">
    <h1>Ambience</h1>
    </div>
</div>
{% endblock %}