{% extends 'index.html' %}
{% block content %}
{% load static %}
<style>
    .mainbody {
        padding-top: 5%;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    #timer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        border: 5px solid #000;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    .timer_controls{
        padding-top:10%;
    }
    .add_btn{
        font-weight: bolder;
    }

    audio::-webkit-media-controls-timeline,
    video::-webkit-media-controls-timeline {
    display: none;
}
</style>
<div class="row mainbody">
    <div class="col container">
        <h1>To Do List</h1>
        <form class="task_form" method="POST">
            {% csrf_token %}
            {{form.task_content}}
            <input type="submit" value="+" class="add_btn">
        </form>
        <div class="task_list">
            {% for task in tasks %}
                {{task.task_content}}
                <form action="{% url 'delete_task' task.id %}" method="POST" class="delete-form">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="delete_btn">
                </form>
            {% endfor %}
        </div>
    </div>
    <div class="col">
    <div>
        <h1>FocusPod</h1>
    </div>
    <div>
        <div id="timer">25:00</div>
        <div class="timer_controls">
            <button onclick="startTimer()">Start</button>
            <button onclick="stopTimer()">Stop</button>
            <button onclick="resetTimer()">Reset</button>
        </div>
    </div>
    </div>
    <div class="col">
    <h1>Ambience</h1>
    <div>
        <p>City</p>
        <audio controls controlsList="nodownload noplaybackrate" loop>
            <source src="{% static 'ambient_sounds/city.mp3' %}" type="audio/mpeg">
        </audio>
    </div>
    <div>
        <p>Rain</p>
        <audio controls controlsList="nodownload noplaybackrate" loop>
            <source src="{% static 'ambient_sounds/rain.mp3' %}" type="audio/mpeg">
        </audio>
    </div>
    <div>
        <p>Forest</p>
        <audio controls controlsList="nodownload noplaybackrate" loop>
            <source src="{% static 'ambient_sounds/forest.mp3' %}" type="audio/mpeg">
        </audio>
    </div>
    </div>
</div>

<script>
    var timerElement = document.getElementById('timer');
    var intervalId;
    var initialMinutes=25;
    var initialSeconds = 0;
    var minutes, seconds;

    function startTimer(){
        //calculating the total time in seconds 
        var totalTime = initialMinutes * 60 + initialSeconds;
        //update the timer element initially
        updateTimer(initialMinutes,initialSeconds);
        intervalId=setInterval(function(){
            //decrement the seconds
            totalTime--;
            //calculate the minutes and seconds
            minutes = Math.floor(totalTime/60);
            seconds = totalTime%60;
            //update the timer element
            updateTimer(minutes,seconds);
            //check if the timer has reached 0 
            if(totalTime <= 0){
                clearInterval(intervalId);
                alert('Time is up!');
            }
        },1000);
    }

    function stopTimer(){
        clearInterval(intervalId);

    }

    function resetTimer(){
        stopTimer();
        minutes = initialMinutes;
        seconds = initialSeconds;
        updateTimer(minutes,seconds)
    }

    function updateTimer(minutes,seconds){
        // format the minutes and seconds with leading zeros
        var formattedMinutes = minutes.toString().padStart(2,'0');
        var formattedSeconds = seconds.toString().padStart(2,'0');
        
        //update the timer element with the formatted time     
        timerElement.textContent = formattedMinutes + ":" + formattedSeconds;
    }

</script>


{% endblock %}